<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated helm -->
      <package
            uri="urn:org.nasdanika.architecture.containers.helm"
            class="org.nasdanika.architecture.containers.helm.HelmPackage"
            genModel="model/helm.genmodel"/>
   </extension>

</plugin>
