<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated kubernetes -->
      <package
            uri="ecore://nasdanika.org/architecture/containers/kubernetes"
            class="org.nasdanika.architecture.containers.kubernetes.KubernetesPackage"
            genModel="model/kubernetes.genmodel"/>
   </extension>

</plugin>
