<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated c4 -->
      <package
            uri="urn:org.nasdanika.architecture.c4"
            class="org.nasdanika.architecture.c4.C4Package"
            genModel="model/c4.genmodel"/>
   </extension>

</plugin>
