<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated networking -->
      <package
            uri="ecore://nasdanika.org/architecture/cloud/azure/networking"
            class="org.nasdanika.architecture.cloud.azure.networking.NetworkingPackage"
            genModel="model/networking.genmodel"/>
   </extension>

</plugin>
