<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated docker -->
      <package
            uri="urn:org.nasdanika.architecture.containers.docker"
            class="org.nasdanika.architecture.containers.docker.DockerPackage"
            genModel="model/docker.genmodel"/>
   </extension>

</plugin>
