<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated storage -->
      <package
            uri="ecore://nasdanika.org/architecture/cloud/azure/storage"
            class="org.nasdanika.architecture.cloud.azure.storage.StoragePackage"
            genModel="model/storage.genmodel"/>
   </extension>

</plugin>
